.BookDiv {
    width: 30%;
    height: 120px;
    border: solid 1px grey;
    float: left;
    text-align: center;
}
.BookName {
    font-weight: bold;
    margin-bottom: -15px;
    margin-top: 4px;

}
